.header{
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    gap: 10px;
}
.car{
    height: 30px;
    margin-top: 30px;
}
ul {
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 2em;
}
.bt2{
    background-color: blue;
    height: 40px;
    padding: 0px 15px;
    color: aliceblue;
    font-size: 1.3em;
    border-radius: 7px;
}
.btn{ 
    margin-top: 20px;
}
.bg{
    background-image: url(./pexels-eberhardgross-443446.jpg);
    background-position: center;
    background-size: cover;
    width: 900px;
    height: 400px;
    border-radius: 5px;
    margin: 20px;
    margin-left: 14%;
}
.secdiv{
    width: 300px;
    height: 400px;
    color: aliceblue;
    margin-left: 30px;
}
.finp{
    width: 270px; 
    padding: 8px 2px;
    border-radius: 30px;
    border: none;margin-top: 30px;
}
/* sec3 */
.sec3{
    width: 900px;
    height: 200px;
    background-color: blue;
    border-radius: 6px;
    margin-left: 14%;
    text-align: center;
    color: aliceblue;
}
.sec31{
    display: flex;
    justify-content: center;
    gap: 40px;
    
  
}
.b{
    display: flex;
    gap: 7px;
}
.sec4{
    width: 100vw;
    height: 100vh;
    text-align: center;


}
.imgr{
    width: 250px;
    height: 400px;
    background-color: aqua;
    border-radius: 10px;
}
.imgr img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
.sec4b{
    width: 150px;
    padding: 8px 0px;
    background-color: transparent;
    border-radius: 10px;
}
.swrq{
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* sec5 */
.sec5{
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.qs{
    width: 900px;
    height: 400px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;

}
.q{
    width: 300px;
    color: black;
    margin-top: 10px;
    margin-left: 20px;
}
.s img{
    width: 400px;
    height: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
/* sec6 */
.sec6{
    width: 100vw;
    height: 100vh;
    
}
.wp{
    display: flex;
    margin-left: 10%;
}
.qr{
    width: 400px;

}
.qr .bs{
    display: flex;
    gap: 10px;
}
.im img{
    width: 100px;
    height: 100px;
}
.pic{
    display: flex;
    margin-top: 6%;
    gap: 18px;
}






